.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 83%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 76%
    right: 30%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #212529
.titulo-principal__numero
  background-color: #F56364 !important
.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after
    background-color: #ffc621 !important


.fondo-rosa
  background-color: #F8EFF0

.cajon.color-primario 
  background-color: #F8EFF0
.cajon.color-primario:before 
  background-color: #F8EFF0
.tarjeta.color-acento-contenido 
  background-color: #D4AFDD
  border-radius: 0% !important
.color-adicional
  background-color: #6FEC86
  border-radius: 0% !important
.verde-trans
  background-color: #9AEAB5

.lista-ol--cuadro__vineta 
  color: #12263f

.w-card-icon
  width: min-content
  z-index: 1
.bg13
  background-color: #F56364
  border-radius: 15px
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px


.bg131
  background-color: #FFC7B8
  border-radius: 15px
.w-card-text1
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -20px
  top: 8px

.bg2
  background-color: #FDF1F1
.bg3
  background-color: #7AD8EC
.bg4
  background-color: #ffff

.text-red
  color: #F56364
.tabla-a thead 
  border-top: 5px solid;
  color: #111e61
  background-color: #F56364
.gris
  background-color: #F6F6F6