.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 83%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 76%
    right: 30%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 20%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.img-infografica__item__dot:before, .img-infografica__item__dot:after, .img-infografica-b__item__dot:before, .img-infografica-b__item__dot:after 
  background-color: #FFC621
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: #212529
.titulo-principal__numero
  background-color: #F56364 !important
.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after, .img-infografica.color-primario .img-infografica-b__item__dot:before, .img-infografica.color-primario .img-infografica-b__item__dot:after, .img-infografica-b.color-primario .img-infografica__item__dot:before, .img-infografica-b.color-primario .img-infografica__item__dot:after, .img-infografica-b.color-primario .img-infografica-b__item__dot:before, .img-infografica-b.color-primario .img-infografica-b__item__dot:after
  background-color: #ffc621 !important


.fondo-rosa
  background-color: #F8EFF0

.cajon.color-primario 
  background-color: #F8EFF0
.cajon.color-primario:before 
  background-color: #F8EFF0
.tarjeta.color-acento-contenido 
  background-color: #D4AFDD
  border-radius: 0% !important
.color-adicional
  background-color: #6FEC86
  border-radius: 0% !important
.verde-trans
  background-color: #9AEAB5
.py-3.py-md-4
  background-color: #DFF6FA
.lista-ol--cuadro__vineta 
  color: #12263f

.w-card-icon
  width: min-content
  z-index: 1
.bg13
  background-color: #F56364
  border-radius: 15px
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px


.bg131
  background-color: #FFC7B8
  border-radius: 15px
.w-card-text1
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -20px
  top: 8px

.bg2
  background-color: #FDF1F1
.bg3
  background-color: #7AD8EC
.bg4
  background-color: #ffff
.bg5
  background-color: #7AD8EC
  border-top-right-radius: 10px
  border-top-left-radius: 10px
.bg6
  background-color: #CAEFF7 
.bg7
  background-color: #FFF3E1 
.bg8
  background-color: #FFD69B
  border-bottom-right-radius: 10px
  border-bottom-left-radius: 10px
.bg9
  background-color: #FFF1F1
  border-radius: 20px
.bg10
  background-color: #FCF3FF 
  border-radius: 10px
.bg11
  background-color: #FFE9E9

.text-red
  color: #F56364
.tabla-a thead 
  border-top: 5px solid
  color: #111e61
  background-color: #F56364
.gris
  background-color: #F6F6F6

.slyder-f__btn
    width: 8%
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer

.slyder-f__btn i 
    font-size: 2rem
    min-width: 50px
    max-width: 50px
    min-height: 50px
    max-height: 50px
    flex: auto
    border-radius: 50%
    background-color: #ffd947
    display: flex
    justify-content: center
    align-items: center

.slyder-f__slyde > .tarjeta 
  background-color: #7AD8EC
.slyder-f__btn.pe-3
  margin-right: 2rem
  padding-right: 0 !important

.slyder-f__btn.ps-3
  margin-left: 2rem
  padding-left: 0 !important
.color-primario
  background-color: #7AD8EC

.bgimg2
  background-image: url('../assets/curso/temas/tema1/fondo.png')
  background-repeat: no repeat
  position: relative
  top: 5px
  z-index: 0
  background-color: #ffff
  border-radius: 20px

.bgimg3
  background-image: url('../assets/curso/temas/tema2/fondo.png')
  background-repeat: no repeat
  position: relative
  top: 5px
  z-index: 0
  background-color: #FDC9C9
  border-radius: 20px


.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #ffc621

.slyder-a__bullets__item--active
  background-color: #F56364
  border-color: #F56364
  opacity: 1
.slyder-a__bullets__item 
  background-color: #f56364

.cajon.color-primario1 
    background-color: #d9f3f8
.color-primario11
  background-color: #D6F8FF !important
.cajon:before
  background-color: #7AD8EC
.color-adicional1
  background-color: #7AD8EC
